* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul {
  display: flex;
  list-style-type: none;
}
li,
.contact a {
  margin-right: 10px;
}
.features {
    margin: 20px 0 20px 30px;
    font-size: 14px;
}
.features-container {
  display: flex;
  justify-content: space-between;
 
}
.feature > p  {
    width: 68%;
}
.feature::before {
    content: "";
    display: block;
    background-image: url(./img/feature/1.png);
    background-size: cover;
    width: 72%;
    height: 14vh;
    background-repeat: no-repeat;
    background-position: bottom;
}
.feature:nth-of-type(2)::before {
    background-image: url('./img/feature/2.png');
}
.feature:nth-of-type(3)::before {
    background-image: url('./img/feature/3.png');
}
.feature:nth-of-type(4)::before {
    background-image: url('./img/feature/4.png');
}

.team-container{
    display: flex;

}

